[flake8]
exclude = auth/app/alembic/versions/*
per-file-ignores =
  # Use Cases without parent class.
  auth/app/src/use_cases/user/*.py: WPS306
  # Database without parent class.
  auth/app/src/infrastructure/databases.py: WPS306
  # For mixins like IDMixin or TimestampMixin.
  auth/app/src/infrastructure/mixins.py: WPS306
  # ORM models literals.
  auth/app/src/infrastructure/models.py: WPS226
  # For Dependency injection and HTTPExceptions raises.
  auth/app/src/api/*/*.py: WPS404, B008, WPS329
  # For configuration models
  auth/app/src/config.py: WPS202
  # For logging templates (%s formating)
  logging.py: WPS323

max-imports = 25
max-local-variables=8
max-methods=10
