[flake8]
exclude = auth/app/alembic/versions/*
per-file-ignores =
  # Use Cases without parent class.
  auth/app/src/use_cases/user/*.py: WPS306
  # Database without parent class.
  auth/app/src/infrastructure/database.py: WPS306
  # For mixins like IDMixin or TimestampMixin.
  auth/app/src/infrastructure/mixins.py: WPS306
  # ORM models literals.
  auth/app/src/infrastructure/models.py: WPS226
max-imports = 20
max-local-variables=8
max-methods=10