# Ignore cache and trash.
**/__pycache__/
**/.mypy_cache/
**/.vscode/
**/venv/
**/env/
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python/
**/.tox
**/.coverage
**/.coverage.*
**/.cache/
**/.pytest_cache/

# Ignore tests
app/tests/
